<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.ChatterMapper">

    <!-- 基础字段映射 -->
    <resultMap id="BaseResultMap" type="cn.pojo.entity.Chatter">
        <id column="id" property="id"/>
        <result column="sender_id" property="senderId"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="content" property="content"/>
        <result column="is_read" property="isRead"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="ChatterVOResultMap" type="cn.pojo.vo.ChatterVO" extends="BaseResultMap">
        <!-- 发送方联表字段 -->
        <result column="sender_name" property="senderName"/>
        <result column="sender_account" property="senderAccount"/>
        <result column="sender_avatar" property="senderAvatar"/>

        <!-- 接收方联表字段 -->
        <result column="receiver_name" property="receiverName"/>
        <result column="receiver_account" property="receiverAccount"/>
        <result column="receiver_avatar" property="receiverAvatar"/>
    </resultMap>

    <!-- 插入聊天记录 -->
    <insert id="save" parameterType="cn.pojo.entity.Chatter">
        INSERT INTO chatter
            (sender_id, receiver_id, content, is_read, create_time)
        VALUES
            (#{senderId}, #{receiverId}, #{content}, #{isRead}, #{createTime})
    </insert>

    <!-- 查询聊天记录 -->
    <select id="query" resultMap="ChatterVOResultMap" parameterType="cn.pojo.dto.query.extend.ChatterQueryDto">
        SELECT
        c.*,
        sender.user_name AS sender_name,
        sender.user_account AS sender_account,
        sender.user_avatar AS sender_avatar,
        receiver.user_name AS receiver_name,
        receiver.user_account AS receiver_account,
        receiver.user_avatar AS receiver_avatar
        FROM chatter c
        LEFT JOIN user sender ON c.sender_id = sender.id
        LEFT JOIN user receiver ON c.receiver_id = receiver.id
        <where>
            <!-- 发送方过滤 -->
            <if test="senderId != null">
                AND sender.sender_id = #{senderId}
            </if>
            <!-- 接收方过滤 -->
            <if test="receiverId != null">
                AND receiver.receiver_id = #{receiverId}
            </if>
        </where>
        ORDER BY c.create_time DESC
    </select>
</mapper>
