<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.StarMapper">

    <insert id="save">
        INSERT INTO star (user1_id,user2_id)
        VALUES (#{user1Id},#{user2Id})
    </insert>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM star WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="query" resultMap="BaseResultMap">

        SELECT s.*
        FROM star s
        <where>
            <if test="id != null">
                AND s.id = #{id}
            </if>
            <if test="user1Id != null">
                AND s.user1_id = #{user1Id}
            </if>
            <if test="user2Id != null">
                AND s.user2_id = #{user2Id}
            </if>
        </where>
        ORDER BY s.id DESC
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.pojo.vo.StarVo">
        <id column="id" property="id"/>
        <result column="user1_id" property="user1Id"/>
        <result column="user2_id" property="user2Id"/>
    </resultMap>

</mapper>